@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body{
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    background: #eee;
    color: #666;

}

.login-container{
    height: 100vh;
    width: 100%;
    
}